#============================== GENERAL ==============================
FramesToBeEncoded:      -1          # Number of frames (at input frame rate), -1
UsageType:               0            #0: camera video 1:screen content
TemporalLayerNum:       1 2 3 4       # temporal layer number(1--4)
IntraPeriod:         -1  30              # Intra Period ( multipler of GoP size or -1)
MultipleThreadIdc:	    1 2 4  8 	# 0: auto(dynamic imp. internal encoder); 1: multiple threads imp. disabled; > 1: count number of threads;
InitialQP:              12  40    # QP 
#============================== MultiSlice Slice Argument ==============================
SliceMode:			1  2  3 4 		# 0: sigle slice mode; >0: multiple slices mode, see below;
MaxNalSize:			1500
#...........SliceMode: slicNum
SliceNum	        0: 0				# multiple slices number specified
SliceNum	        1: 4 7				# multiple slices number specified
SliceNum	        2: 0				# multiple slices number specified
SliceNum	        3: 0				# multiple slices number specified
SliceNum	        4: 0				# multiple slices number specified
#============================== RATE CONTROL ==============================
RCMode:              1   0
#============================== LONG TERM REFERENCE CONTROL ==============================
EnableLongTermReference:         1 0              # Enable Long Term Reference (1: enable, 0: disable)
#============================== LOOP FILTER ==============================
LoopFilterDisableIDC:  0   1                   # Loop filter idc (0: on, 1: off, 
                                               # 2: on except for slice boundaries,
                                               # 3: two stage. slice boundries on in second stage
                                               # 4: Luma on but Chroma off (w.r.t. idc=0)  
                                               # 5: Luma on except on slice boundaries, but Chroma off in enh. layer (w.r.t. idc=2)
                                               # 6: Luma on in two stage. slice boundries on in second stage, but Chroma off (w.r.t. idc=3)
#*********************************************************************************************************************************************
#       below test parameters are used for  local full cases test
#       and for online travis test, below parameters should be set  the same with welsenc.cfg
#*********************************************************************************************************************************************
#============================== DENOISE CONTROL ==============================
EnableDenoise:                   0              # Enable Denoise (1: enable, 0: disable)
#============================== SCENE CHANGE DETECTION CONTROL =======================
EnableSceneChangeDetection:			1	 # Enable Scene Change Detection (1: enable, 0: disable)
#============================== BACKGROUND DETECTION CONTROL ==============================
EnableBackgroundDetection:		 1       # BGD control(1: enable, 0: disable)
#============================== ADAPTIVE QUANTIZATION CONTROL =======================
EnableAdaptiveQuantization:		 1	     # Enable Adaptive Quantization (1: enable, 0: disable)

